:root {
  --van-cell-vertical-padding: 0.19rem!important;
  --van-cell-horizontal-padding: 0.16rem!important;
  --van-button-normal-font-size: 0.16rem!important;
  --van-tabs-line-height: 0.42rem!important;
  --van-tab-text-color: #333333!important;
  --van-tab-active-text-color: #284EFF!important;
  --van-tabs-bottom-bar-color: #284EFF!important;
}